extends layout 

block styles 
  link(rel="stylesheet" href="/stylesheets/about-us_style.css")

block content
  section.main-section.main-section__our-stroy
    .our-story.our-story__inner
      .our-story__left-side
        .our-story__img-wrap
          img.our-story__img.our-story__img--arrow-right-down(src="../../../images/svg/arrow_right_down.svg", alt="")
        .our-story__svg-wrap
          svg.our-story__svg.our-story__svg--barcelona(width="292" height="216" viewBox="0 0 292 216" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M154 86.8284L160.828 80H207.597L214 87.2562V133.209L207.634 140H160.828L154 133.172V86.8284Z" stroke="#3E409F" stroke-width="4")
            path(d="M78 106.807L103.85 80H131.597L138 87.2562V133.209L131.634 140H84.8284L78 133.172V106.807Z" stroke="#3E409F" stroke-width="4")
            path(d="M62 35.1929L36.1502 62.0001L8.40254 62.0001L2 54.7439L2 8.79096L8.36647 2.00006L55.1716 2.00006L62 8.82849L62 35.1929Z" stroke="#6668E2" stroke-width="4")
            path(d="M35.1928 80L62 105.85L62 133.597L54.7438 140L8.79089 140L2 133.634L2 86.8284L8.82843 80L35.1928 80Z" stroke="#5254C0" stroke-width="4")
            path(d="M104.807 62L78 36.1502L78 8.40251L85.2562 1.99997L131.209 1.99997L138 8.36644L138 55.1715L131.172 62L104.807 62Z" stroke="#5254C0" stroke-width="4")
            path(d="M154 160.828L160.828 154H207.597L214 161.256V207.209L207.634 214H160.828L154 207.172V160.828Z" stroke="#2A2B7D" stroke-width="4")
            path(d="M230 86.8284L236.828 80H283.597L290 87.2562V133.209L283.634 140H236.828L230 133.172V86.8284Z" stroke="#2A2B7D" stroke-width="4")
            path(d="M230 160.828L236.828 154H283.597L290 161.256V207.209L283.634 214H236.828L230 207.172V160.828Z" stroke="#16175B" stroke-width="4")

      .our-story__right-side
        .our-story__img-wrap
          img.our-story__img--globe(src="../../../images/svg/globe_icon.svg", alt="")
        .our-story__content-wrap
          .our-story__title
            h2.title__text OUR STORY
          .our-story__paragraph
            p.paragraph__text Based in Barcelona, Barner was founded in early 2017 by two friends. 
              | After living their lives totally immersed in the digital world, 
              | they had identified a problem that was not only affecting them, 
              | but millions of people all around the globe: overexposure to blue light.
              | As hard workers and technology lovers, their eyes couldn’t withstand the long hours spent every day in front of screens. 
              | They wanted to find a solution that would protect their eyes and improve their quality of life without sacrificing their style. 
              | After realizing that current solutions on the market weren’t good enough, they decided to create their own.

  section.main-section.main-section__how-we-started
    .how-we-started.how-we-started__inner
      .how-we-started__left-side.flex--center
        svg(width="280" height="280" viewBox="0 0 280 280" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M81.8125 56.875C65.625 59.0625 50.75 64.75 38.0625 77L24.9375 41.5625C37.625 29.3125 52.5 23.625 68.6875 21.4375L81.8125 56.875Z" fill="#6668E2")
          path(d="M132.562 56.4375C115.062 55.5625 97.5625 54.6875 81.375 56.875L68.25 21.4375C84.4375 19.25 101.937 20.125 119.437 21L132.562 56.4375Z" fill="#F7F7F9")
          path(d="M183.75 56C167.563 58.1875 150.063 57.3125 132.563 56.4375L119.438 21C136.938 21.875 154.438 22.75 170.625 20.5625C175 31.9375 179.375 43.75 183.75 56Z" fill="#6668E2")
          path(d="M227.5 35.4375C214.812 47.6875 199.938 53.375 183.75 55.5625L170.625 20.125C186.812 17.9375 201.688 12.25 214.375 0L227.5 35.4375Z" fill="#F7F7F9")
          path(d="M94.9375 92.3125C78.75 94.5 63.875 100.188 51.1875 112.437L38.0625 77C50.75 64.75 65.625 59.0625 81.8125 56.875L94.9375 92.3125Z" fill="#F7F7F9")
          path(d="M145.688 91.875C128.188 91 110.688 90.125 94.5 92.3125L81.375 56.875C97.5625 54.6875 115.062 55.5625 132.562 56.4375L145.688 91.875Z" fill="#6668E2")
          path(d="M196.875 91.4375C180.688 93.625 163.188 92.75 145.688 91.875L132.562 56.4375C150.063 57.3125 167.563 58.1875 183.75 56L196.875 91.4375Z" fill="#F7F7F9")
          path(d="M240.625 71.3125C227.938 83.5625 213.062 89.25 196.875 91.4375L183.75 56C199.938 53.8125 214.812 48.125 227.5 35.875C231.875 47.25 236.25 59.0625 240.625 71.3125Z" fill="#6668E2")
          path(d="M108.062 128.187C91.875 130.375 77 136.062 64.3125 148.312L51.1875 112.875C63.875 100.625 78.75 94.9375 94.9375 92.75L108.062 128.187Z" fill="#6668E2")
          path(d="M159.25 127.312C141.75 126.437 124.25 125.562 108.062 127.75L94.9375 92.3125C111.125 90.125 128.625 91 146.125 91.875C150.062 103.687 154.875 115.5 159.25 127.312Z" fill="#F7F7F9")
          path(d="M210 126.875C193.812 129.062 176.313 128.187 159.25 127.312L146.125 91.875C163.625 92.75 181.125 93.625 197.312 91.4375C201.25 103.25 205.625 115.062 210 126.875Z" fill="#6668E2")
          path(d="M253.75 106.75C241.062 119 226.188 124.687 210 126.875L196.875 91.4375C213.062 89.25 227.938 83.5625 240.625 71.3125L253.75 106.75Z" fill="#F7F7F9")
          path(d="M121.187 163.625C105 165.813 90.125 171.5 77.4375 183.75L64.3125 148.313C77 136.063 91.875 130.375 108.062 128.188L121.187 163.625Z" fill="#F7F7F9")
          path(d="M172.375 163.187C154.875 162.312 137.375 161.437 121.187 163.625L108.062 128.187C124.25 126 141.75 126.875 159.25 127.75L172.375 163.187Z" fill="#6668E2")
          path(d="M223.125 162.313C206.938 164.5 189.438 163.625 171.938 162.75L158.812 127.313C176.312 128.188 193.813 129.063 209.563 126.875C214.375 138.688 218.75 150.5 223.125 162.313Z" fill="#F7F7F9")
          path(d="M266.875 142.188C254.188 154.438 239.312 160.125 223.125 162.312L210 126.875C226.188 124.688 241.062 119 253.75 106.75L266.875 142.188Z" fill="#6668E2")
          path(d="M113.312 280H105L13.125 31.9375L20.5625 29.3125L113.312 280Z" fill="#6668E2")

      .how-we-started__right-side
        .how-we-started__title
          h2 HOW WE STARTED
        .how-we-started__paragraph
          p We worked long and hard to create the glasses of our dreams, 
            | but before launching, we decided to test it out on two crowdfunding platforms: Kickstarter and Indiegogo.
          p Thanks to the amazing support of all the people that believed in us and backed our crowdfunding campaigns, 
            | we’ve sold over 15,000 glasses in 81 countries, and now we’re selling our products worldwide.

  section.main-section.main-section__our-process
    div.our-process.our-process__inner
      svg.our-process__svg(viewbox="0 0 1000 2000")
        g.process__svg--bar
          image(x="154" y="350" width="50" height="50" href="../../../images/svg/healthicons_exercise-running.svg")
          rect(x="0" y="400" width="200" height="50" fill="#6668e2")
        g.process__svg--campaigns-launched
          text(x="540" y="400" font-size="1.2em" font-family="Avenir" font-weight="900" fill="#6668e2") 2 Campaigns Launched
          image(x="556" y="440" width="38" height="38" href="../../../images/svg/kickstarter_icon.svg")
          image(x="610" y="420" width="64" height="64" href="../../../images/svg/indiegogo_icon.svg")
        g.process__svg--glasses-delivered
          text(x="613" y="800" font-size="1.2em" font-family="Avenir" font-weight="900" fill="#5254C0") +15,000 Glasses Delivered
          image(x="629" y="808" width="64" height="64" href="../../../images/svg/glasses_group_icon.svg")
        g.process__svg--backers
          text(x="686" y="1200" font-size="1.2em" font-family="Avenir" font-weight="900" fill="#3E409F") +12,000 Backers
          image(x="702" y="1220" width="50" height="50" href="../../../images/svg/people_icon.svg")
        g.process__svg--different-countries
          text(x="760" y="1600" font-size="1.2em" font-family="Avenir" font-weight="900" fill="#2A2B7D") 81 Different Countries
          image(x="776" y="1640" width="50" height="50" href="../../../images/svg/network_icon.svg")
      
  section.main-section.main-section__our-vision
    .our-vision.flex--center
      .our-vision__svg-wrap
        svg(width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg")
          text(x="50%" y="220px" text-anchor="middle" alignment-baseline="middle" font-size="2.4em" font-family="Avenir" font-weight="900" fill="#6668e2") OUR VISION
          mask(id="mask0_100_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="284" y="248" width="166" height="127")
            path(d="M446 259C441.2 245.4 399.333 248.333 379 251.5C324.803 243.5 293.085 273.833 284 290C291 312.833 312.3 360.9 341.5 370.5C378 382.5 422.5 362.5 436.5 351C450.5 339.5 452 276 446 259Z" fill="#C4C4C4")
          g(mask="url(#mask0_100_2)")
            rect(x="289" y="271" width="16" height="159" transform="rotate(-90 289 271)" fill="#FE7D7D")
            rect(x="288" y="287" width="16" height="160" transform="rotate(-90 288 287)" fill="#FFB673")
            rect(x="288" y="303" width="16" height="160" transform="rotate(-90 288 303)" fill="#EED787")
            rect(x="289" y="319" width="16" height="159" transform="rotate(-90 289 319)" fill="#A8FDBA")
            rect(x="288" y="335" width="16" height="160" transform="rotate(-90 288 335)" fill="#7DC9F3")
            rect(x="289" y="351" width="16" height="159" transform="rotate(-90 289 351)" fill="#6668E2")
            rect(x="289" y="367" width="16" height="159" transform="rotate(-90 289 367)" fill="#AD7AFF")
          mask(id="mask1_100_2" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="68" y="248" width="166" height="127")
            path(d="M71.4999 259C76.2999 245.4 118.167 248.333 138.5 251.5C192.697 243.5 224.415 273.833 233.5 290C226.5 312.833 205.2 360.9 176 370.5C139.5 382.5 94.9999 362.5 80.9999 351C66.9999 339.5 65.4999 276 71.4999 259Z" fill="#C4C4C4")
          g(mask="url(#mask1_100_2)")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 271)" fill="#FE7D7D")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 287)" fill="#FFB673")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 303)" fill="#EED787")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 319)" fill="#A8FDBA")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 335)" fill="#7DC9F3")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 351)" fill="#6668E2")
            rect(width="16" height="160" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 229 367)" fill="#AD7AFF")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M456 282.5C456 301.3 456.1 336.4 432.8 359.8C418.7 373.9 398.5 381 372.7 381H354.5C354.2 381 354 381 353.7 381C306.9 379.6 279.8 334.3 273.9 301.9C273.8 301.7 273.6 301.6 273.5 301.4C273.5 301.3 267.1 289.3 256 289.3C244.8 289.3 238.5 301.3 238.5 301.4C238.4 301.6 238.2 301.7 238.1 301.9C232.2 334.3 205.1 379.7 158.3 381.1C158 381.1 157.8 381.1 157.5 381.1H139.3C113.5 381.1 93.3 374 79.2 359.9C55.9 336.5 56 301.4 56 282.5V280.9C56 276.2 56.4 272.1 57.3 268.4C55.9 266 55.6 262.9 57 260.3L115.3 151.9C115.7 151.1 125.8 133.2 145.5 131.2C161.6 129.5 178.5 138.8 195.7 158.8C198.7 162.3 198.3 167.6 194.8 170.5C191.3 173.5 186.1 173.1 183.1 169.6C169.9 154.2 157.4 146.7 147.3 147.7C136.4 148.8 130.1 159.7 130.1 159.8L85.1 243.5C98.3 240.1 116.1 239.2 139.5 239.2C176.6 239.2 226.3 252.9 237.2 278.6C242.1 275.2 248.4 272.5 256.1 272.5C263.8 272.5 270.1 275.2 275 278.6C285.9 252.8 335.6 239.2 372.7 239.2C396.1 239.2 413.9 240.2 427.1 243.5L382 159.8C382 159.8 375.7 148.8 364.7 147.8C354.6 146.9 342.2 154.4 329 169.7C326 173.2 320.8 173.6 317.3 170.6C313.8 167.6 313.4 162.3 316.4 158.9C333.6 138.9 350.5 129.7 366.6 131.3C386.3 133.4 396.3 151.2 396.7 151.9L455 260.3C456.4 263 456.1 266 454.7 268.4C455.6 272.1 456 276.2 456 280.9V282.5ZM139.3 255.9C72.6 255.9 72.6 264.8 72.6 280.9V282.5C72.6 298.9 72.5 329.5 91 348C101.8 358.8 118.1 364.3 139.3 364.3H156C202.2 364.3 222.7 309.9 222.7 289.2C222.7 273.1 179.8 255.9 139.3 255.9ZM439.3 280.9C439.3 264.8 439.3 255.9 372.6 255.9C332.1 255.9 289.3 273.1 289.3 289.3C289.3 310 309.8 364.4 356 364.4H372.7C393.9 364.4 410.2 358.9 421 348.1C439.4 329.7 439.4 299.1 439.4 282.6V280.9H439.3Z" fill="#6668E2")

      .our-vision__paragraph
        .paragraph__top
          p The way we live, work, play, and communicate is changing every single day with the rapid advance of technology, 
            | and this is why we want to be more than just a tech gadget company. 
            | We want to build a brand and a community that supports the constantly evolving lifestyles of the digital generation, and makes them feel understood and accepted.
          p We believe that all companies should be more than just a company; they should have a soul, too. 
            | This means that they not only focus on doing right by their consumers and developing great products, 
            | but that they hold their values close, stand up for what they believe in, and give back to the community.
        .paragraph__bottom
          p We strive to be a company with soul every single day; we aim to help people live lives that are as vibrant and fun as they are functional, 
            | and we dream of building a world where technology and sustainability go hand in hand.

  section.main__footer.flex--center
    a(href="/") Back to Main