@import './variables.scss';

html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: stretch;

    height: calc(100% - 80px);
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    box-sizing: border-box;
}

.main__top {
    border-bottom: 1px solid $main-color;
    .top__inner {
        width: 50%;
        padding: 0 48px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top__img-wrap {
            cursor: pointer;
        }

        .top__img-wrap--delete-selected {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

.main__body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    // height: 80vh;
}

.body__left {
    width: 50%;
    padding: 40px 80px 0 0;
    box-sizing: border-box;

    .product-list {
        display: flex;
        flex-direction: column;
    }

    .cell {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0;
    }

    .cell__checkbox {
        width: 20%;
        img {
            cursor: pointer;
        }
    }

    .cell__content {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 16px;

        border-bottom: 1px solid $main-color;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .cell__image img {
        width: 144px;
    }

    .cell__text {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text--name {
        font-size: 1.4em;
        margin: 4px 0;
    }
    .text--color {
        margin: 4px 0;
    }
    .text--price {
        font-size: 1.2em;
        color: black;
    }

    .cell__delete img {
        cursor: pointer;
    }

    .cell--checked {
        content: url("../images/svg/akar-icons_circle-check-fill.svg");
    }
}

.body__right {
    flex-grow: 1;
    border-left: 1px solid $main-color;
    padding: 0 8%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .receipt {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid black;
        padding: 8px 0;

        &__name {
            color: black;
            font-size: 1.2em;
        }

        &__price {
            color: black;
            font-size: 1em;
        }
    }

    .total {
        display: flex;
        flex-direction: column; 
        .row {
            border: none;
            span {
                color: black;
            }
        }
    }

    .total-price {
        margin: 40px 0;
        h2 {
            font-size: 5em;
        }
    }

    .payment {
        input {
            color: white;
            background: $main-color;
            padding: 20px 80px;

            font-size: 2.4em;
            &:hover {
                cursor: pointer;
                background-color: lighten($color: $main-color, $amount: 10%);
            }
        }
    }
}

@media (max-width: 743px) {
    .main {
        width: initial;
        height: initial;
        margin: 0;
        padding-top: 8px;
    }
    .main__top .top__inner {
        width: initial;
        padding: 0 16px;
    }
    .main__body {
        flex-direction: column;
    }
    .body__left {
        width: initial;
        padding: 0 16px 0 0;
        margin: 20px 0;
        border-bottom: 1px solid $main-color;
    }
    .body__left .cell__image img {
        width: 80px;
    }
    .body__left .text--name {
        font-size: 1em;
    }
    .body__left .text--color {
        font-size: 0.9em;
    }
    .body__left .text--price {
        font-size: 1em;
    }
    .body__right {
        margin: 80px 0;
    }
    .body__right .row__name {
        font-size: 1em;
    }
    .body__right .row__price {
        font-size: 0.9em;
    }
    .body__right .total .row span {
        font-size: 0.9em;
    }
    .body__right .total-price {
        margin: 20px 0;
    }
    .body__right .total-price h2 {
        font-size: 3em;
    }
    .body__right .payment input {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (min-width: 744px) and (max-width: 1024px) {
    .main {
        padding-top: 20px;
        width: 95%;
    }
    .body__left {
        padding: 8px 20px 0 0;
    }
    .body__left .cell {
        padding: 8px;
    }
    .body__left .cell__image img {
        width: 100px;
    }
    .body__left .text--name {
        font-size: 1.1em;
    }
    .body__left .text--color {
        font-size: 0.9em;
    }
    .body__left .text--price {
        font-size: 1em;
    }
    .body__right {
        padding: 0 4%;
    }
    .body__right .row__name {
        font-size: 1em;
    }
    .body__right .row__price {
        font-size: 0.9em;
    }
    .body__right .total .row span {
        font-size: 0.9em;
    }
    .body__right .total-price h2 {
        font-size: 3.2em;
    }
    .body__right .total-price {
        margin: 20px 0;
    }
    .body__right .payment input {
        font-size: 1.8em;
        padding: 16px 64px;
    }
}
@media (min-width: 1025px) and (max-width: 1366px) {
    .main {
        padding-top: 40px;
        width: 90%;
    }
    .body__left {
        padding: 16px 40px 0 0;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {

}