@import './variables.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 80%;
    margin: 0 auto;
}

.main__top {
    border-bottom: 1px solid $main-color;
    .top__inner {
        width: 50%;
        padding: 0 48px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top__img-wrap {
            cursor: pointer;
        }

        .top__img-wrap--delete-selected {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

.main__body {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.body__left {
    width: 50%;
    padding: 40px 80px 0 0;
    box-sizing: border-box;

    .product-list {
        display: flex;
        flex-direction: column;
    }

    .cell {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0;
    }

    .cell__checkbox {
        width: 20%;
        img {
            cursor: pointer;
        }
    }

    .cell__content {
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 16px;

        border-bottom: 1px solid $main-color;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .cell__image img {
        width: 144px;
    }

    .cell__text {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text--name {
        font-size: 1.4em;
        margin: 8px 0;
    }

    .text--price {
        font-size: 1.2em;
        color: black;
    }

    .cell__delete img {
        cursor: pointer;
    }

    .cell--checked {
        content: url("../images/svg/akar-icons_circle-check-fill.svg");
    }
}

.body__right {
    flex-grow: 1;
    border-left: 1px solid $main-color;
    padding: 0 8%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .receipt {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid black;
        padding: 8px 0;

        &__name {
            color: black;
            font-size: 1.2em;
        }

        &__price {
            color: black;
            font-size: 1em;
        }
    }

    .total {
        display: flex;
        flex-direction: column; 
        .row {
            border: none;
            span {
                color: black;
            }
        }
    }

    .total-price {
        margin: 40px 0;
        h2 {
            font-size: 5em;
        }
    }

    .payment {
        input {
            color: white;
            background: $main-color;
            padding: 20px 80px;

            font-size: 2.4em;
            &:hover {
                cursor: pointer;
                background-color: lighten($color: $main-color, $amount: 10%);
            }
        }
    }
}

