@import './variables.scss';

.line {
    background-color: $main-color;
}

.description {
    font-size: 1.4em;
}

.card {
    margin: 160px 0;
}


.glasses-section .card--1 {
    margin-top: 0;
    .glasses-section__section-header {
        height: 90vh;
        margin: 0 50px;
    
        .glasses {
            width: 100%;
            background-color: #fff;
        }
    }
}

.glasses-section .card--2 {
    width: 100%;
    height: 90vh;
    
    .card__inner {
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    .card__description-box {
        flex-basis: 28%;
        flex-shrink: 0;
        padding: 0 0 0 160px;
    }

    .card__image-box {
        flex-grow: 1;
        
        display: flex;
        flex-direction: column;
        
        .image-box__division {
            flex-grow: 1;
            display: flex;

            .img-wrap {
                width: 100%;
                img {
                    width: 100%;
                    padding: 0 8%;
                    box-sizing: border-box;
                }
            }
        }
    }

    .line {
        &--horizontal {
            margin-bottom: 64px;
            height: 1px;
        }
        &--vertical {
            margin: 0 0 0 180px;
            width: 1px;
        }
    }
}

.glasses-section .card--3 {
    .card__inner {
        display: flex;
        flex-direction: row;
    }

    .card__image-box {
        flex-basis: 80%;

        display: flex;
        flex-direction: row;

        .image-wrap {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0 40px;

            &:first-child {
                transform: translateY(-100px);
                padding-left: 80px;
            } 
            &:nth-child(2) {
                flex-basis: 60%;
                padding-right: 16px;
            }
            
            img {
                width: 100%;
                aspect-ratio: 3 / 4;
                object-fit: cover;
            }
        }
    }

    .card__description-box {
        flex-shrink: 1;
        flex-basis: 20%;
        padding: 0 100px 0 0;
        display: flex;
        align-items: center;

        .description {
            padding-top: 60%;
            margin: 120px 0;
        }
    }
}

.glasses-section .card--4 {
    .glasses-section__inner {
        margin: 0 40px;
        display: flex;
    }

    .card__description-box {
        flex-basis: 45%;
        padding: 0 40px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .line--horizontal {
            height: 1px;
            width: 100%;
            margin: 40px 0;
        }
        .description {
            text-align: right;
        }
    }

    .card__image-box {
        display: flex;
        .image-wrap { 
            width: 50%;
            img {
                width: 100%;
                aspect-ratio: 3/4;
                object-fit: cover;
            }
        }

        .keywords-wrap {
            display: flex;
            flex-direction: column;
            border-left: 1px solid $main-color;
            margin-left: 32px;

            .keywords__el {
                flex-grow: 1;

                border-top: 1px solid $main-color;
                padding: 4px 16px;

                display: flex;
                justify-content: center;
                align-items: center;

                &:first-child {
                    border: none;
                }

                .keywords__text {
                    writing-mode: vertical-lr;
                    font-size: 1.1em;
                }
            }
        }
    }
}

.glasses-section .card--5 {
    width: 100%;
    .glasses-section__horizontal-scroll-view {
        display: flex;
        flex-direction: row;

        width: 100%;
        overflow-x: auto;
    }

    .cell {
        padding: 0 100px;
        margin: 80px 0;
        border-right: 1px solid $main-color;

        &__inner:hover .cell__image--hover-view {
            height: 90px;
        }
        
        &__image-wrap {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 800px / 21px * 9px;
            overflow: hidden;
            position: relative;

            .cell__product-image {
                width: 800px;
                object-fit: cover;
                transform: rotate(90deg);
            }

            .cell__image--hover-view {
                width: 100%;
                height: 3%;
                overflow: hidden;

                position: absolute;
                top: 0;
                left: 0;
                
                transition: all 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);

                .hover-view {
                    width: 100%;
                    height: 90px;
                    background: $main-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &__text {
                        color: white;
                        font-size: 1.6em;
                    }
                }
            }
        }

        &__detail {
            margin-top: 40px;

            &--name {
                font-size: 1.5em;
            }
            &--color {
                font-size: 1.2em;
                color: $sub-color;
            }
        }
    }
}

.glasses-section .card--6 {
    margin-bottom: 80px;
    .glasses-section__footer {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 80vh;
    }

    .glasses-section__top {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        width: 100%;
        height: 100%;

        &--link {
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            padding: 32px;
            width: 200px;
            margin-right: 80px;
            box-sizing: border-box;

            .link--paragraph {
                color: $sub-color;

                font-size: 1.6em;

                padding-left: 32px;
                border-left: 1px solid $main-color;
                box-sizing: border-box;
            }

            .link--image-wrap {
                display: flex;
                justify-content: flex-end;
            }
        }

        &--image-wrap {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;

            height: 100%;
            width: 70%;

            margin: 0 50px;

            background-image: url("../images/glasses/Gracia_Crystal_Front_489df5fa-5968-48b1-9a1f-442e91a5d86a.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .description-wrap {
                padding: 0 0 160px 32px;
                font-size: 3.6em;
                width: 55%;
            }
        }
    }

    .glasses-section__bottom {
        display: flex;
        justify-content: space-between;

        margin: 40px 32px;
        border-top: 1px solid $main-color;
        padding: 16px 32px;

        .bottom__text {
            color: $sub-color;
            font-size: 1.4em;
        }
    }
}

.sunglasses-section .card--1 {
    margin-top: 0;
    .sunglasses-section__section-header {
        height: 90vh;
        margin: 0 50px;
    
        .sunglasses {
            width: 100%;
            background-color: #fff;
        }
    }
}

.sunglasses-section .card--2 {
    width: 100%;
    height: 90vh;
    
    .card__inner {
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    .card__image-box {
        flex-grow: 1;
        .img-wrap {
            padding: 0 80px 0 160px;
            img {
                width: 100%;
                aspect-ratio: 3 / 4;
                object-fit: cover;
                
                transform: translateY(-40px);
            }
        }
    }

    .card__description-box {
        flex-basis: 45%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .line {
            &--horizontal {
                height: 1px;
                width: 100%;
                margin-bottom: 40px;
            }

            &--vertical {
                width: 1px;
                margin: 0 40px;
                flex-shrink: 0;
            }
        }

        .description-box__division {
            flex-grow: 1;
            display: flex;
            padding: 0 40px;

            .description-wrap {
                flex-shrink: 1;
                display: flex;
                align-items: flex-end;
            }

            .description--long {
                margin-bottom: 160px;
            }
        }
    }
}

.sunglasses-section .card--3 {
    width: 100%;
    height: 90vh;

    .card__inner {
        display: flex;
        height: 100%
    }

    .line--horizontal {
        width: 100%;
        height: 1px;
        margin: 120px 120px 120px 0;
    }

    .card__description-box {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin-right: 80px;

        .description-box__division {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h2 {
                text-align: right;
                margin: 32px 0;
            }

            p {
                text-align: right;
                width: 28%;
            }
        }
    }

    .card__image-box {
        flex-grow: 1;
        .img-wrap {
            margin: 0 160px 0 80px;
            img {
                width: 80%;
                aspect-ratio: 3 / 4;

                object-fit: cover;
            }
        }
    }
}


.sunglasses-section .card--4 {
    .product-grid-view {
        display: flex;
        flex-direction: row;

        margin: 0 0 0 80px;
    }

    .grid-view {
        .cell {
            display: flex;
            &__img-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                
                overflow: hidden;

                img {
                    object-fit: cover;
                }
            }
            .cell-detail {
                &__text--name {
                    font-size: 1.4em;
                }
                &__text--color {
                    font-size: 1.2em;
                    color: $sub-color;
                }
            }
        }

        &__vertical {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: 80px;

            .cell {
                border-bottom: 1px solid $main-color;
                
                display: flex;
                align-items: flex-end;

                &__img-wrap {
                    flex-grow: 1;
                    aspect-ratio: 21 / 9;
    
                    margin: 0 16px 32px 0;
                    img {
                        width: 100%;
                    }
                }
                &__detail-wrap {
                    width: 20%;
                    
                    padding: 0 0 32px 16px;
                    border-left: 1px solid $main-color;
                }
            }
        }

        &__horizontal {
            width: 40%;
            flex-grow: 0;

            padding-left: 80px;

            .cell {
                flex-direction: column;
                height: 100%;
                width: 100%;

                display: flex;
                align-items: center;

                border-left: 1px solid $main-color;

                &__img-wrap {
                    flex-grow: 1;
                    width: 70%;
                    // aspect-ratio: 9 / 21;
    
                    img {
                        height: 100%;
                        transform: rotate(90deg)
                    }
                }

                &__detail-wrap {
                    width: 70%;
                }
            }
        }
    }
}