@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    font-family: Avenir;
    font-weight: 900;
    color: $main-color;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

html {
    background-color: $background-color;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

input {
    border: none;
}

.display--none {
    display: none;
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in {
    transition: 500ms ease-in-out;
    opacity: 0;
    &--slide-up {
        transform: translateY(100px);
    }
    &--slide-right {
        transform: translateX(-100px);
    }
    &--slide-left {
        transform: translateX(100px);
    }
    &--activated {
        opacity: 1;
        transform: none;
    }
}

// header
.header {
    width: 100%;
}

.header__inner {
    width: 100%;
    height: 100%;
    padding: 8px 32px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex-basis: 1;
    .logo {
        font-size: 1.4em;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    flex-basis: 40%;

    &-left {
        justify-content: flex-start;
    }

    &-right {
        justify-content: flex-end;
        position: relative;
    }
}

.nav__list {
    display: flex;

    .nav__item {
        font-size: 1.2em;

        a {
            padding: 4px 16px;
            border-radius: 17px;
            white-space: nowrap;
        }

        &:first-child {
            margin-right: 32px;
        }
        &:hover {
            a {
                background-color: $main-color;
                color: white;
            }
        }

        
    }
    
    .isSelected {
        a {
            background-color: $main-color;
            color: white;
        }
    }
}


.header__cart, .header__search {
    margin-right: 12px;
    border-radius: 8px;

    a {
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
         
    path {
        fill: $main-color;
    }

    &:hover {
        background-color: $main-color;
        path {
            fill: white;
        }
    }
}

.header__search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    overflow: hidden;
    width: 44px;

    transition: 500ms;

    a {
        flex-shrink: 0;
    }

    input {
        padding: 0 4px;
        margin-left: 8px;
        color: white;
        background-color: $main-color;
        height: 44px;
        width: 100%;
    }
    input::placeholder {
        color: #ddd;
    }
    input:focus {
        outline: none;
    }
}

.header__search--open {
    background: $main-color;
    border-radius: 8px;
    overflow: hidden;

    width: 214px;

    path {
        fill: white;
    }
}

.search-result {
    background: white; 
    // filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
    // -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));

    width: 300px; 
    height: 0; 
    margin-right: 12px; 
    border-radius: 8px;

    position: absolute; 
    top: 56px; 
    right: 0; 
    z-index: 1;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    transition: 1s 200ms;

    &--open {
        height: 300px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
        -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
    }
    .cell {
        padding: 10px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid #aaa;

        cursor: pointer;
        z-index: 1;

        &__text {
            font-weight: 500;

            &--price {
                color: $sub-color;
            }
        }

        &:hover {
            background: $background-color;
        }
    }
}

.main__footer {
    background-color: $main-color;

    height: 120px;
    margin-top: 80px;
    a {
        color: white;
        font-size: 3em;
    }
}

.header-mobile {
    display: none;
}

.mobile-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    &>div {
        width: 30%;
    }

    .mobile-header__menu {
        svg {
            height: 32px;
            width: 32px;
        }
    }
    .mobile-header__logo {
        font-size: 1.2em;
    }
    .mobile-header__btn {
        display: flex;
        justify-content: flex-end;

        &>div:first-child {
            margin-right: 8px;
        }
        svg {
            width: 32px;
            height: 32px;
        }
        path {
            fill: #6668e2;
        }
    }
}


@media (min-width: 320px) and (max-width: 743px) {
    body {
        background: azure;
    }
    .header {
        display: none;
    }
    .header-mobile {
        display: initial;
    }
    .main__footer {
        height: 60px;
        margin-top: 32px;
    }
    .main__footer a {
        font-size: 1.2em;
    }
}

@media (min-width: 744px) and (max-width: 1024px) {
    body {
        background: beige;
    }

    .header__inner {
        padding: 8px 16px;
    }

    .header__logo .logo {
        font-size: 1.2em;
    }
    
    .nav__list {
        .nav__item {
            font-size: 1em;
            a {
                padding: 4px 10px;
            }
            &:first-child {
                margin-right: 8px;
            }
        }
    }
    .header__cart {
        margin-right: 6px;
    }
    .header__search {
        margin-right: 0;
    }
    .header__search input {
        width: 50%;
    }

    .header__search--open {
        width: 120px;
    }

    .main__footer {
        height: 80px;
    }
    .main__footer a {
        font-size: 2em;
    }
}

