* {
  padding: 0;
  margin: 0;
  font-family: Avenir;
  font-weight: 900;
  color: #6668E2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

html {
  background-color: #F7F7F9;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  object-fit: cover; }

input {
  border: none; }

.display--none {
  display: none; }

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center; }

.fade-in {
  transition: 500ms ease-in-out;
  opacity: 0; }
  .fade-in--slide-up {
    transform: translateY(100px); }
  .fade-in--slide-right {
    transform: translateX(-100px); }
  .fade-in--slide-left {
    transform: translateX(100px); }
  .fade-in--activated {
    opacity: 1;
    transform: none; }

.header {
  width: 100%; }

.header__inner {
  width: 100%;
  height: 100%;
  padding: 8px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  flex-basis: 1; }
  .header__logo .logo {
    font-size: 1.4em; }

.header__nav {
  display: flex;
  align-items: center;
  flex-basis: 40%; }
  .header__nav-left {
    justify-content: flex-start; }
  .header__nav-right {
    justify-content: flex-end;
    position: relative; }

.nav__list {
  display: flex; }
  .nav__list .nav__item {
    font-size: 1.2em; }
    .nav__list .nav__item a {
      padding: 4px 16px;
      border-radius: 17px;
      white-space: nowrap; }
    .nav__list .nav__item:first-child {
      margin-right: 32px; }
    .nav__list .nav__item:hover a {
      background-color: #6668E2;
      color: white; }
  .nav__list .isSelected a {
    background-color: #6668E2;
    color: white; }

.header__cart, .header__search {
  margin-right: 12px;
  border-radius: 8px; }
  .header__cart a, .header__search a {
    width: 44px;
    height: 44px;
    cursor: pointer; }
  .header__cart path, .header__search path {
    fill: #6668E2; }
  .header__cart:hover, .header__search:hover {
    background-color: #6668E2; }
    .header__cart:hover path, .header__search:hover path {
      fill: white; }

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  width: 44px;
  transition: 500ms; }
  .header__search a {
    flex-shrink: 0; }
  .header__search input {
    padding: 0 4px;
    margin-left: 8px;
    color: white;
    background-color: #6668E2;
    height: 44px;
    width: 100%; }
  .header__search input::placeholder {
    color: #ddd; }
  .header__search input:focus {
    outline: none; }

.header__search--open {
  background: #6668E2;
  border-radius: 8px;
  overflow: hidden;
  width: 214px; }
  .header__search--open path {
    fill: white; }

.search-result {
  background: white;
  width: 300px;
  height: 0;
  margin-right: 12px;
  border-radius: 8px;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transition: 1s 200ms; }
  .search-result--open {
    height: 300px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)); }
  .search-result .cell {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    z-index: 1; }
    .search-result .cell__text {
      font-weight: 500; }
      .search-result .cell__text--price {
        color: #C2C2D6; }
    .search-result .cell:hover {
      background: #F7F7F9; }

.main__footer {
  background-color: #6668E2;
  height: 120px;
  margin-top: 80px; }
  .main__footer a {
    color: white;
    font-size: 3em; }

.header-mobile {
  display: none; }

.mobile-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; }
  .mobile-header__inner .mobile-header__menu, .mobile-header__inner .mobile-header__logo, .mobile-header__inner .mobile-header__btn {
    width: 30%; }
  .mobile-header__inner .mobile-header__menu {
    z-index: 1000; }
    .mobile-header__inner .mobile-header__menu svg {
      height: 32px;
      width: 32px; }
  .mobile-header__inner .mobile-header__logo {
    font-size: 1.2em; }
  .mobile-header__inner .mobile-header__btn {
    display: flex;
    justify-content: flex-end; }
    .mobile-header__inner .mobile-header__btn > div:first-child {
      margin-right: 8px; }
    .mobile-header__inner .mobile-header__btn svg {
      width: 32px;
      height: 32px; }
    .mobile-header__inner .mobile-header__btn path {
      fill: #6668e2; }

.menu__nav {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  background: #F7F7F9;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  transition: 800ms;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
  .menu__nav--open {
    height: 320px; }
  .menu__nav svg {
    height: 32px;
    width: 32px;
    padding: 16px; }
  .menu__nav .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 64px;
    margin-top: 80px; }
    .menu__nav .nav a {
      font-size: 1.4em; }

.mobile-search-view {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100vw);
  background-color: #F7F7F9;
  transition: 800ms; }
  .mobile-search-view--open {
    transform: translateX(0); }
  .mobile-search-view .mobile-search-bar {
    width: 100%; }
  .mobile-search-view .mobile-search-bar__inner {
    height: 48px;
    border-radius: 24px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6668E2; }
    .mobile-search-view .mobile-search-bar__inner .search-bar__logo {
      color: white;
      font-size: 1.2em; }
    .mobile-search-view .mobile-search-bar__inner .search-bar__input {
      flex-grow: 1;
      margin: 0 16px;
      background-color: transparent;
      color: white; }
      .mobile-search-view .mobile-search-bar__inner .search-bar__input::placeholder {
        color: #C2C2D6; }
      .mobile-search-view .mobile-search-bar__inner .search-bar__input:focus {
        outline: none; }
    .mobile-search-view .mobile-search-bar__inner .search-bar__search-btn svg {
      width: 32px;
      height: 32px; }
  .mobile-search-view .mobile-search-result {
    flex-grow: 1;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .mobile-search-view .mobile-search-result .cell {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 16px;
      border-bottom: 1px solid #C2C2D6; }
      .mobile-search-view .mobile-search-result .cell__text--name {
        font-size: 1.4em; }
      .mobile-search-view .mobile-search-result .cell__text--price {
        font-size: 1.2em;
        color: #C2C2D6; }
  .mobile-search-view .mobile-search-btn .close-btn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #6668E2; }

@media (min-width: 320px) and (max-width: 743px) {
  .header {
    display: none; }
  .header-mobile {
    display: initial; }
  .main__footer {
    height: 60px;
    margin-top: 32px; }
  .main__footer a {
    font-size: 1.2em; } }

@media (min-width: 744px) and (max-width: 1024px) {
  .header__inner {
    padding: 8px 16px; }
  .header__logo .logo {
    font-size: 1.2em; }
  .nav__list .nav__item {
    font-size: 1em; }
    .nav__list .nav__item a {
      padding: 4px 10px; }
    .nav__list .nav__item:first-child {
      margin-right: 8px; }
  .header__cart {
    margin-right: 6px; }
  .header__search {
    margin-right: 0; }
  .header__search input {
    width: 50%; }
  .header__search--open {
    width: 120px; }
  .main__footer {
    height: 80px; }
  .main__footer a {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */